@media (max-width: 699px) {
  .horse_main {
    width: 100%;
    height: auto;
    left: 0%;
    top: 40%;
  }
}


@media (min-width: 700px) {
  .horse_main {
    width: auto;
    height: 90%;
    left: 5%;
    top: 50%;
  }
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  touch-action: none;
}

.bg_img {
  height: 110%;
  width: 110%;
  object-fit: cover;
  position: absolute;
  top: -5%;
  left: -5%;
  filter: blur(5px);
  user-select: none;
  touch-action: none;
}


.horse_main {
  position: absolute;
  touch-action: none;
  transform: translate(0%, -50%);
  aspect-ratio: 1 / 1;
}

#horse {
  object-fit: cover;
  position: absolute;
  user-select: none;
  touch-action: none;
  width: 100%;
  top: 0;
  left: 0;
}

#head {
  object-fit: cover;
  position: absolute;
  user-select: none;
  touch-action: none;
  width: 20%;
  top: 1%;
  left: 13%;
  z-index: 100;
}