@media (prefers-color-scheme: light) {
  .bar button {
    background: #ffffff55;
  }

  .bar button img {
    filter: brightness(0) invert(1);
  }

  #button-ready {
    background: #ffffff55;
    color: white;
  }

  #button-repeat {
    background: #ffffff55;
  }

  #button-repeat img {
    filter: brightness(0) invert(1);
  }
}


@media (prefers-color-scheme: dark) {
  .bar button {
    background: #00000055;
  }

  .bar button img {
    filter: brightness(0) invert(0);
  }

  #button-ready {
    background: #00000055;
    color: black;
  }

  #button-repeat {
    background: #00000055;
  }

  #button-repeat img {
    filter: brightness(0) invert(0);
  }
}


@media (max-width: 699px) {
  .bar {
    top: 75%;
    height: 15%;
    flex-direction: row;
    left: 50%;
    width: 85%;
  }

  .bar button {
    width: auto;
    height: 100%;
    margin: 0px 25px 0px 25px;
  }

  #button-repeat {
    width: auto;
    height: 15%;
    margin: 25px 0px 25px 0px;
    top: 75%;
  }
}


@media (min-width: 700px) {
  .bar {
    top: 45%;
    height: 85%;
    flex-direction: column;
    left: 80%;
    width: 10%;
  }

  .bar button {
    width: 100%;
    height: auto;
    margin: 25px 0px 25px 0px;
  }

  #button-repeat {
    width: 10%;
    height: auto;
    margin: 25px 0px 25px 0px;
    top: 70%;
  }
}


.bar button {
  position: relative;
  display: flex;
  border-radius: 50%;
  border: none;
  aspect-ratio: 1 / 1;
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  color: #ffffffff;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.bar button img {
  width: 80%;
  height: 80%;
  user-select: none;
  touch-action: none;
}

.bar {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
}

#button-ready {
  position: absolute;
  width: 60%;
  height: 10%;
  top: 100%;
  left: 50%;
  padding: 5px 15px 5px 15px;
  z-index: 9999;
  transform: translate(-50%, -100%);
  text-align: center;
  border-radius: 50px 50px 0px 0px;
  border: none;
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
}

@keyframes readyanim {
  from {
    top: 100%;
  }
  to {
    top: 125%;
  }
}

.readyanim {
  animation: readyanim 0.5s ease-in-out forwards;
}

#button-repeat {
  position: absolute;
  left: 50%;
  display: flex;
  border-radius: 50%;
  border: none;
  aspect-ratio: 1 / 1;
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  touch-action: none;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
}

.button-repeat img {
  height: 80%;
  user-select: none;
  touch-action: none;
}
